.about-project-item {
  grid-row: span 1;
  grid-column: span 2;
  padding: 0px 20px;
}

.about-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-learn-more {
  padding: 5px 10px;
  font-size: 16px;
}

.about-project-item h2 {
  border-bottom: 2px solid rgb(229, 229, 229);
  width: 226px;
}

@media (max-width: 1100px) {
  .about-project-item p {
    font-size: 16px;
  }

  .about-project-item h2 {
    margin: 16px 0px 0px 0px;
  }

  .title-learn-more {
    padding: 3px 5px;
    font-size: 14px;
    margin: 16px 0px 0px 0px;
  }
}

@media (max-width: 750px) {
  .about-project-item h2 {
    margin: 16px 0px;
  }

  .title-learn-more {
    padding: 5px 10px;
    font-size: 16px;
    margin: 0px;
  }

  .about-project-item p {
    font-size: 18px;
  }
}