.saved-graph-item {
  grid-row: span 1;
  grid-column: span 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 30px;
}

.watts-saved-title {
  margin: 10px 0px 0px 0px;
  text-align: center;
}

#mobile-chart-js {
  display: none;
}

#money-saved-chart-js {
  display: flex;
}

#low-tier-chart-js {
  display: none;
}

.interval-options {
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
  width: 60%;
  font-size: 14px;
}

.interval-option {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: var(--text);
}

.interval-option {
  cursor: pointer;
}

.selected-interval {
  border: 2px solid var(--highlight);
  color: var(--highlight);
}

@media (max-width: 750px) {
  .saved-graph-item {
    padding: 20px 0px;
  }

  .about-project-item h2 {
    margin: 16px 0px;
  }

  .interval-options {
    margin-top: -10px;
  }
}

@media (max-width: 500px) {
  #mobile-chart-js {
    display: flex;
  }

  #money-saved-chart-js {
    display: none;
  }

  .interval-options {
    width: 80%;
  }
}

@media (max-width: 400px) {
  #mobile-chart-js {
    display: none;
  }

  #low-tier-chart-js {
    display: flex;
  }
}