.body {
  padding: 0px;
}

.main-grid {
  display: grid;
  margin: 80px 30px 30px 30px;
  height: calc(100vh - 140px);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% 50%;
  row-gap: 30px;
  column-gap: 30px;
}

.dashboard-item {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 20px;
}

.learn-more {
  text-decoration: none;
  background-color: rgb(0, 154, 0);
  padding: 8px 10px;
  color: white;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.learn-more:hover {
  background-color: rgb(0, 188, 0);
}

@media (max-width: 1100px) {
  .main-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .main-grid {
    margin: 80px 40px 60px 40px;
    height: 170vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

@media (max-width: 590px) {
  .main-grid {
    margin: 80px 30px 60px 30px;
  }
}