.forecast-item {
  grid-row: span 2;
  grid-column: span 1;
  overflow: scroll;
  position: relative;
}

.forecast-item > h2 {
  position: sticky;
  top: 0px;
  left: 10px;
  right: 10px;
  padding-top: 10px;
  text-align: center;
  background-color: var(--background);
  height: auto;
  margin-top: 0px;
  padding: 10px 0px 20px 0px;
}

.inner-forecast {
  margin-top: -20px;
}

.daily-forecast {
  display: flex;
  align-items: center;
  background-color: var(--foreground);
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.daily-forecast img {
  height: 64px;
  background-color: var(--background);
  border-radius: 20px;
}

.forecast-text {
  margin-left: 20px;
}

.daily-forecast h2 {
  font-size: 18px;
  margin: 0px;
}

.daily-forecast p {
  font-size: 16px;
  margin: 0px;
  color: var(--tertiary-text);
}

.small-forecast p {
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 1250px) {
  .small-forecast img {
    display: none;
  }

  .small-forecast .forecast-text {
    margin-left: 0px;
  }
}

@media (max-width: 1100px) {
  .forecast-item:has(.small-forecast) {
    display: none;
  }
}

@media (max-width: 950px) {
  .forecast-item {
    overflow: visible;
    grid-column: span 1;
  }

  .forecast-item > h2 {
    position: static;
  }
}

@media (max-width: 750px) {
  .forecast-item:has(.small-forecast) {
    display: block;
  }

  .daily-forecast img {
    display: block;
  }

  .small-forecast .forecast-text {
    margin-left: 20px;
  }
}

@media (max-width: 660px) {
  .forecast-item {
    display: block;
  }

  .small-forecast img {
    display: none;
  }

  .small-forecast .forecast-text {
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .forecast-item:has(.small-forecast) {
    grid-column: span 2;
  }

  .small-forecast img {
    display: block;
  }

  .small-forecast .forecast-text {
    margin-left: 20px;
  }
}