.simulation-item {
  grid-column: span 2;
}

.progress-bar-container {
  height: 25px;
  width: 100%;
  max-width: 800px;

  border: 1px solid var(--foreground-dark);
  border-radius: 50px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: var(--highlight);
  border-radius: 50px;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.water-button {
  background-color: var(--highlight);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  width: 240px;
  height: 38px;
  margin-top: 20px;
  transition: background-color 0.2s;
}

.water-button:hover {
  background-color: var(--highlight-hover);
  cursor: pointer;
}

.saturated-button {
  background-color: var(--saturated);
}

.saturated-button:hover {
  background-color: var(--saturated);
}

.debug-section {
  margin-bottom: 18px;
}

.debug-title {
  margin-top: 10px;
  font-size: 24px;
}

p.debug-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.debug-subtitle {
  color: var(--tertiary-text);
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
}

@media (max-width: 950px) {
  .simulation-item {
    grid-column: span 1;
  }
}