.staging-item {
  grid-column: span 2;
  padding: 20px 40px;
}

.staging-item h3 {
  color: var(--tertiary-text);
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
}

.staging-item h2 {
  margin: 10px 0px 60px 0px;
  font-size: 24px;
}

.stages-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.stage-group {
  position: relative;
}

.stage-group p, .side-line-paragraph {
  font-size: 14px;
  position: absolute;
  text-align: center;
  bottom: 46px;
  width: 80px;
  left: -26px;
  margin: 0px;
}

.first-stage ~ p {
  margin-left: 14px;
}

.stage-group .down-stage {
  top: 42px;
}

.soil-dry {
  display: flex;
  justify-content: center;
}

.soil-dry::before {
  content: '';
  position: absolute;
  height: 90px;
  width: 8px;
  background-color: var(--secondary-highlight);
}

.stage {
  height: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--highlight-text);
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-stage {
  margin-left: 14px;
}

.last-stage {
  margin-right: 14px;
}

.current-stage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-stage::after {
  content: '';
  position: absolute;
  height: 18px;
  aspect-ratio: 1;
  background-color: var(--highlight);
  border-radius: 50%;
  z-index: 5;
}

.stage-line {
  position: absolute;
  width: 100%;
  height: 40px;
  border-radius: 18px;
  background-color: var(--highlight);
  z-index: 2;
}

.side-line {
  position: absolute;
  top: 0px;
  left: calc(((100% - 24px) / 3) + 14px);
  right: 24px;
  height: 80px;
  border: 8px solid var(--secondary-highlight);
  border-radius: 24px;
}

.side-line::after, .current-side-stage::before {
  content: '';
  position: absolute;
  top: 64px;
  left: calc(50% - 20px);
  height: 28px;
  aspect-ratio: 1;
  background-color: var(--background);
  border-radius: 50%;
  z-index: 5;
  border: 6px solid var(--secondary-highlight);
}

.current-side-stage::before {
  background-color: var(--secondary-highlight);
  border: none;
  height: 18px;
  left: calc(50% - 9px);
  top: 75px;
  z-index: 6;
}

.side-line-paragraph {
  position: relative;
  top: 108px;
  left: 0px;
  width: auto;
}

.update-time-item, .small-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.update-time-item h4{
  margin: 0px;
  color: var(--tertiary-text);
}

.update-time-item h3{
  margin: 14px 0px 0px 0px;
  font-size: 24px;
}

.update-time-item h2{
  margin: 6px 0px 14px 0px;
  font-size: 36px;
}

.small-screen {
  display: none;
}

.main-screen {
  display: block;
}

@media (max-width: 950px) {
  .staging-item {
    grid-column: span 1;
    height: 300px;
  }

  .staging-item h2 {
    margin-bottom: 80px;
    font-size: 32px;
  }
}

@media (max-width: 750px) {
  .update-time-item{
    padding: 50px 20px;
  }
}

@media (max-width: 650px) {
  .stage-group p, .side-line-paragraph {
    font-size: 12px;
  }

  .staging-item h2 {
    font-size: 24px;
  }
}

@media (max-width: 590px) {
  .update-time-item{
    padding: 50px 20px;
  }

  .update-time-item h4 {
    font-size: 14px;
  }

  .update-time-item h3 {
    font-size: 20px;
  }

  .update-time-item h2 {
    font-size: 28px;
  }
}

@media (max-width: 500px) {
  .stages-group {
    display: none;
  }

  .staging-item h2 {
    font-size: 22px;
  }

  .update-time-item{
    grid-column: span 2;
  }

  .update-time-item h4{
    color: var(--tertiary-text)
  }

  .update-time-item h3{
    font-size: 24px;
  }

  .update-time-item h2{
    font-size: 36px;
  }

  .small-screen {
    display: flex;
  }

  .main-screen {
    display: none;
  }

  .small-screen h2 {
    font-size: 48px;
    margin-bottom: 0px;
  }

  .small-screen h3 {
    font-size: 24px;
    color: var(--text);
  }

  .small-screen h4 {
    color: var(--tertiary-text);
    margin-top: 30px;
  }
}

@media (max-width: 400px) {
  .staging-item {
    padding: 5px;
  }
}