.select-plant-item {
  grid-row: span 1;
  grid-column: span 2;
}

.plant-collection {
  display: flex;
  align-items: center;
  height: auto;
  margin: 0px 0px 10px 20px;
}

.plant-label {
  font-size: 20px;
}

select {
  margin: 12px 60px 32px 0px;
  padding: 6px 0px 6px 6px;
  width: 148px;
  border-radius: 8px;
  border: solid 1px;
  font-size: 16px;
  display: block;
}

.data, .full-data, .plant-set-button {
  border: none;
  margin: 12px 0px;
  height: 18px;
  width: 200px;
  padding: 10px 12px;
  border-radius: 12px;
  background-color: var(--foreground);
  color: var(--text);
  font-weight: 600;
}

.full-data {
  width: 240px;
}

.data {
  margin-bottom: 32px;
}

.data:focus, .full-data {
  outline: none;
}

select:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

.plant-set-button {
  height: 38px;
  width: 240px;
  font-size: 18px;
  margin-top: 32px;
  cursor: pointer;
  transition: 0.3s;
}

.plant-set-button:hover {
  background-color: var(--foreground-hover);
}

.description {
  margin: 32px 0px 10px 0px;
  text-indent: 15px;
}

.wiki-link {
  color: var(--highlight);
}

.learn-more {
  text-decoration: none;
  background-color: var(--highlight);
  padding: 8px 10px;
  color: white;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.learn-more:hover {
  background-color: var(--highlight-hover);
}

.wiki-link:hover {
  color: var(--highlight-hover);
}

@media (max-width: 950px) {
  .data {
    height: 36px;
    width: 20vw;
    min-width: 154px;
  }
}

@media (max-width: 590px) {
  .plant-selector-item {
    padding: 20px 0px;
  }
}

@media (max-width: 500px) {
  .plant-selector-item:has(.data) {
    display: flex;
    justify-content: center;
    grid-column: span 2;
  }

  .plant-section:has(.data) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  select {
    margin: 10px 0px 10px 0px;
  }

  .plant-collection {
    margin: 0px;
  }
}

@media (max-width: 500px) {
  .full-data {
    height: 36px;
    width: 20vw;
    min-width: 154px;
  }
}