.select-plant-item {
  grid-row: span 1;
  grid-column: span 2;
}

.plant-collection {
  display: flex;
  align-items: center;
  height: auto;
  margin: 0px 0px 10px 20px;
}

.plant-label {
  font-size: 20px;
}

select {
  margin: 12px 60px 32px 0px;
  padding: 6px 0px 6px 6px;
  width: 148px;
  border-radius: 8px;
  border: solid 1px;
  font-size: 16px;
  display: block;
}

.data, .full-data {
  border: none;
  margin: 12px 0px 12px 0px;
  height: 18px;
  width: 200px;
  padding: 10px 12px;
  border-radius: 12px;
  background-color: rgb(229, 229, 229);
  color: rgb(17, 17, 17);
  font-weight: 600;
}

.full-data {
  width: 240px;
}

.data {
  margin-bottom: 32px;
}

.data:focus, .full-data {
  outline: none;
}

select:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

.description {
  margin: 32px 0px 10px 0px;
  text-indent: 15px;
}


.wiki-link {
  color: rgb(0, 154, 0);
}

.learn-more {
  text-decoration: none;
  background-color: rgb(0, 154, 0);
  padding: 8px 10px;
  color: white;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.learn-more:hover {
  background-color: rgb(0, 188, 0);
}

@media (max-width: 950px) {
  .data {
    height: 36px;
    width: 20vw;
    min-width: 154px;
  }
}

@media (max-width: 590px) {
  .plant-selector-item {
    padding: 20px 0px;
  }
}