.variable-item {
  grid-row: span 3;
  grid-column: span 2;
}

.variable-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-variables {
  border-radius: 4px;
  padding: 6px;
  background-color: var(--foreground);
  width: 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-variables {
  width: 200px;
  border-radius: 10px;
  border: none;
  background-color: var(--foreground);
  color: var(--text);
  padding: 12px 0px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.reset-variables:hover {
  background-color: var(--danger);
}

.weather-switch-container {
  display: flex;
  flex-direction: column;
}

.weather-switch-container .variable-name {
  margin-bottom: 0px;
}

.weather-switch {
  position: relative;
  cursor: pointer;
  display: block;
  width: 90px;
  height: 42px;
  margin-top: 16px;
}

.slider {
  position: absolute;
  inset: 0px;
  background-color: var(--foreground);
  transition: 0.3s;
  border-radius: 36px;
}

.slider::before {
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  left: 5px;
  bottom: 5px;
  background-color: var(--background);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.086);
  transition: 0.3s;
  border-radius: 50%;
}

.weather-switch input {
  display: none;
}

.weather-switch input:checked + .slider {
  background-color: var(--highlight);
}

.weather-switch input:checked + .slider::before {
  transform: translateX(46px);
  background-color: var(--text);
}

.variable-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.selected-variables {
  background-color: var(--highlight);
  color: var(--highlight-text);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.086);
}

.variable-name {
  font-weight: 500;
  font-size: 19px;
}

.button-variable {
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: var(--foreground);
  color: var(--text);
  transition: background-color 0.2s;
}

.variable-buttons {
  display: flex;
  align-items: center;
}

.button-variable:hover {
  cursor: pointer;
  background-color: var(--foreground-hover);
}

.variable-buttons .input-variable {
  margin: 0px 6px;
}

.button-group {
  display: flex;
  align-items: center; 
}

.boost-variable {
  margin: 0px 6px;
}

.info-group {
  display: flex;
  position: relative;
}

.info-icon {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin: 0px 0px 0px 40px;
  border: solid 2px var(--text);
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
  font-weight: 700;
}

.info-icon:hover {
  cursor: pointer;
}

.info-group .tag {
  position: absolute;
  width: 184px;
  background-color: var(--tag);
  color: var(--highlight-text);
  padding: 8px;
  border-radius: 6px;
  bottom: 40px;
  right: -100px;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.info-group:hover .tag {
  opacity: 0.9;
}

.input-variable {
  border-radius: 12px;
  background-color: var(--foreground);
  padding: 0px 10px;
  height: 30px;
  width: 100px;
  border: none;
  font-size: 16px;
  text-align: center;
  color: var(--text);
}

.input-variable:focus-visible {
  outline: none;
}

.city {
  width: 192px;
}

.to-minutes {
  border-radius: 12px;
  background-color: var(--foreground);
  padding: 0px 10px;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-left: 20px;
}

.small-screen-info {
  display: none;
}

@media (max-width: 590px) {
  .plant-label {
    font-size: 20px;
  }

  .water-button:hover {
    background-color: var(--highlight-hover);
  }

  .plant-set-button:hover, .button-variable:hover {
    background-color: var(--foreground-hover);
  }
}

@media (max-width: 490px) {
  .plant-set-button, .to-minutes {
    margin: 20px 0px 0px 0px;
  }

  .simple-variables .variable-buttons {
    display: block;
  }

  .variable-nav {
    display: block;
  }

  .reset-variables {
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .info-group {
    display: none;
  }

  .small-screen-info {
    display: block;
  }
}