.variable-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-title {
  margin: 0px;
  font-size: 32px;
  width: 60%;
}

.your {
  background: -webkit-linear-gradient(rgb(60, 234, 60), rgb(0, 154, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.progress-bar-container {
  height: 25px;
  width: 100%;
  max-width: 800px;

  border: 1px solid rgb(200, 200, 200);
  border-radius: 50px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: rgb(0, 154, 0);
  border-radius: 50px;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.debug-section {
  margin-bottom: 50px;
}

.debug-title {
  margin-top: 10px;
  font-size: 24px;
}

p.debug-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.debug-subtitle {
  color: rgb(172, 172, 172);
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
}

.water-button {
  background-color: rgb(0, 154, 0);
  border: none;
  border-radius: 10px;
  width: 240px;
  height: 38px;
  margin-top: 20px;
  transition: background-color 0.2s;
}

.water-button:hover {
  background-color: rgb(0, 190, 0);
  cursor: pointer;
}

.image {
  margin: -40px 10vw 0px 0px;
  width: 50vw;
  justify-content: space-around;
  display: flex;
}

img {
  height: 600px;
}

.title, .subtitle {
  margin: 0px 0px 20px 0px;
}

.title {
  font-weight: 600;
}

.variable-name {
  font-weight: 500;
  font-size: 19px;
}

.button-variable {
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: rgb(229, 229, 229);
  transition: background-color 0.2s;
}

.variable-buttons {
  display: flex;
}

.button-variable:hover {
  cursor: pointer;
  background-color: rgb(199, 199, 199);
}

.variable-buttons .input-variable {
  margin: 0px 6px;
}

.button-group {
  display: flex;
  align-items: center; 
}

.boost-variable {
  margin: 0px 6px;
}

.info-group {
  display: flex;
  position: relative;
}

.info-icon {
  height: 18px;
  margin: 0px 0px 0px 40px;
}

.info-icon:hover {
  cursor: pointer;
}

.info-group .tag {
  position: absolute;
  width: 184px;
  background-color: rgb(76, 76, 76);
  color: white;
  padding: 8px;
  border-radius: 6px;
  bottom: 40px;
  right: -100px;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.info-group:hover .tag {
  opacity: 0.9;
}

.input-variable {
  border-radius: 12px;
  background-color: rgb(229, 229, 229);
  padding: 0px 10px;
  height: 30px;
  width: 100px;
  border: none;
  font-size: 16px;
  text-align: center;
}

.input-variable:focus-visible {
  outline: none;
}

.plant-set-button {
  width: 192px;
  border-radius: 10px;
  border: none;
  background-color: rgb(229, 229, 229);
  padding: 6px 0px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 40px;
  transition: background-color 0.15s;
}

.plant-set-button:hover {
  background-color: rgb(199, 199, 199);
}

.reset-variables {
  width: 200px;
  border-radius: 10px;
  border: none;
  background-color: rgb(229, 229, 229);
  padding: 16px 0px;
  cursor: pointer;
  font-size: 18px;
  margin: 20px 0px 0px 0px;
  transition: background-color 0.3s;
}

.reset-variables:hover {
  background-color: rgb(255, 114, 114);
}

.city {
  width: 192px;
}

.advanced-variables {
  margin-left: 32px;
  display: none;
}

.advanced-variables-show {
  display: flex;
  flex-direction: column;
}

.advanced-button {
  width: 300px;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 154, 0);
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  margin: 20px 0px;
  transition: background-color 0.15s;
}

.advanced-button:hover {
  background-color: rgb(0, 190, 0);
}

.arrow {
  height: 18px;
}

.to-minutes {
  border-radius: 12px;
  background-color: rgb(229, 229, 229);
  padding: 0px 10px;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-left: 20px;
}


@media (max-width: 590px) {
  .main-title {
    width: auto;
  }

  .image {
    display: none;
  }

  .plant-label {
    font-size: 20px;
  }

  .data {
    margin-left: 20px;
  }

  .water-button:hover {
    background-color: rgb(0, 154, 0);
  }

  .plant-set-button:hover {
    background-color: rgb(229, 229, 229);
  }

  .button-variable:hover {
    background-color: rgb(229, 229, 229);
  }

  .advanced-button:hover {
    background-color: rgb(0, 154, 0);
  }
}

@media (max-width: 575px) {
  .plant-set-button {
    margin: 20px 0px 0px 0px;
  }
}