.body {
  padding: 0px;
}

.main-grid {
  display: grid;
  margin: 80px 30px 30px 30px;
  height: calc(100vh - 140px);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% 50%;
  row-gap: 30px;
  column-gap: 30px;
}

.dashboard-item {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.saved-graph-item {
  grid-row: span 1;
  grid-column: span 2;
}

.forecast-item {
  grid-row: span 2;
  grid-column: span 1;
}

.about-project-item {
  grid-row: span 1;
  grid-column: span 2;
}

@media (max-width: 1100px) {
  .forecast-item {
    display: none;
  }

  .main-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .forecast-item {
    display: flex;
  }

  .main-grid {
    margin: 80px 40px 60px 40px;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

@media (max-width: 590px) {
  .main-grid {
    margin: 80px 30px 60px 30px;
  }
}

@media (max-width: 500px) {
  .main-grid {
    grid-template-rows: repeat(4, auto);
  }
}

.plant-collection {
  display: flex;
  height: auto;
  margin: 0px 0px 10px 20px;
}

.plant-section {
  margin: 30px 10px 30px 0px;
}

.plant-label {
  font-size: 20px;
}

select {
  margin: 20px 60px 0px 0px;
  padding: 6px 0px 6px 6px;
  width: 148px;
  border-radius: 8px;
  border: solid 1px;
  font-size: 16px;
}

.data {
  border: none;
  margin: 32px 0px 32px 0px;
  height: 18px;
  width: 200px;
  padding: 10px 20px 10px 12px;
  border-radius: 12px;
  background-color: rgb(229, 229, 229);
  color: rgb(17, 17, 17);
  font-weight: 600;
}

.data:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.learn-more {
  color: rgb(0, 154, 0);
}

@media (max-width: 950px) {
  .data {
    height: 36px;
    width: 20vw;
    min-width: 154px;
  }
}