/* General */
@import url(./general.css);
@import url(./header.css);

.progress-bar-container {
  height: 25px;
  width: 100%;
  max-width: 800px;

  border: 1px solid rgb(200, 200, 200);
  border-radius: 50px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: rgb(0, 154, 0);
  border-radius: 50px;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.water-button {
  background-color: rgb(0, 154, 0);
  border: none;
  border-radius: 10px;
  width: 240px;
  height: 38px;
  margin-top: 20px;
  transition: background-color 0.2s;
}

.water-button:hover {
  background-color: rgb(0, 190, 0);
  cursor: pointer;
}